.pip-cache/
.venv/
.python-runtimes/
data/
VOCtrainval_2007/
VOCtest_2007/
three young man.jpg
like_lenna.png
DAY4_260831/models/
/DAY4_260831/darknet-windows/
__pycache__/
*.pyc
*.h5
*.keras
*.weights
*.tar
image_at_epoch_*.png
predictions.jpg
output.jpg
