{% extends "base.html" %}
<!--  -->
{% block content %}
<div class="w-full h-full bg-[#21252d]">
  <h1 class="font-bold text-[#ffffff] text-7xl pt-4 px-30">
    제 14회 산업통상부
  </h1>
  <h1 class="font-bold text-[#ffffff] text-7xl pt-4 px-30">공공데이터 활용</h1>
  <h1 class="font-bold text-[#00c4cc] text-7xl pt-4 px-30">아이디어 공모전</h1>

  <div
    class="w-[600px] bg-[#00c4cc] font-bold text-[#ffffff] text-2xl pt-4 px-30"
  >
    공공 데이터로 견인하느 지역 활력
  </div>
  <div
    class="w-[600px] bg-[#00c4cc] font-bold text-[#ffffff] text-2xl pt-4 px-30"
  >
    AI 데이터로 도약하는 기업 성장
  </div>
  <div
    class="w-full flex justify-center font-bold text-[#ffffff] text-5xl py-10 pt-30 px-30"
  >
    모집일정
  </div>
  <div
    class="w-full flex justify-center font-bold text-[#ffffff] text-5xl pt-4 px-30"
  >
    2026. 03. 30 ~ 07.06
  </div>
  <div
    class="w-full flex justify-center font-bold text-[#ffffff] text-5xl py-10 pt-30 px-30"
  >
    공모부분
  </div>
  <div
    class="w-full flex justify-center font-bold text-[#ffffff] text-3xl pt-4 px-30"
  >
    여러분의 상상력이 현실이 되는 곳,
  </div>
  <div
    class="w-full flex justify-center font-bold text-[#ffffff] text-3xl pt-4 px-30"
  >
    자신에게 맞는 부문을 선택하여 도전 하세요
  </div>
</div>
{% endblock %}
